/* 
 * Clearfix helper class.
 * Credit: h5bp.com/q
 */
.cf {
	@include clearfix;
}

/*
 * Metaboxes
 */
@mixin charitable_metabox() {
	&.postbox {
		min-width: 0;
		padding: 0 0 24px 0;
		margin: 0;
		background-color: transparent;
		border: none;
		box-shadow: none;

		.inside {
			margin-top: 0;
			padding: 0;
		}
	}

 	.postbox-title {
 		padding: 0 0 6px 0;
 	}	

	.handlediv, 
	.hndle {
		display: none;
	}

	input, 
	select, 
	textarea {
	    padding: 14px 10px;
		width: 100%;	    
	}

	input[type=checkbox], 
	input[type=radio] {
		width: auto;
	}

	.charitable-metabox-title {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 6px;
	}
	
	.charitable-helper {    	
    	display: block;
    	padding-top: 6px;
    	font-style: italic;
	}

	.charitable-metabox {
		padding: 10px 10px 24px; 
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		border: 1px solid #e5e5e5;
		background-color: #fff;

		.charitable-metabox-wrap {
			margin-bottom: 12px;	
		}

		.charitable-metabox-title {
			margin-bottom: 12px;
			padding: 4px 0 12px 0; 
			border-bottom: 1px solid #e5e5e5;
		}

		label {
			display: block;
			margin-bottom: 6px;
			font-weight: bold;			
		}
	}

	.charitable-checkbox-wrap {
		label {
			display: inline-block;
		}
	}
}

.post-type-campaign .postbox-title {
	border-bottom: 1px solid #eee;
}

#campaign-title, 
#campaign-goal, 
#campaign-end-date, 
#campaign-description, 
#campaign-donation-options {
	@include charitable_metabox();
}

// .post-type-campaign {
// 	.postbox {
// 		.handlediv {
// 			display: none;
// 		}
// 	}
// }

#campaign-top-sortables {
	// @include clearfix;

	
}

#campaign-top-sortables {
	#campaign-goal, 
	#campaign-end-date {
		float: left;
		width: 48%;
	}

	#campaign-goal {
		padding-right: 4%;
	}

	#campaign-description {
		clear: both;
	}

	@include bp(37.5em, false) {
		#campaign-goal, 
		#campaign-end-date {
			width: 100%;
			padding: 0 0 24px;
		}
	}
}

/*
 * Settings pages
 */
.charitable-table {
	td, 
	th {
		padding: 8px;
	}	
} 

.charitable-help {
    display: block;
    font-size: 13px;
    font-style: italic;
    margin-top: 4px;
} 

#charitable-settings {

	.form-table {
		th label {
			font-size: 13px;
		}
	}
}