/* 
 * Clearfix helper class.
 * Credit: h5bp.com/q
 */
.cf {
	@include clearfix;
}

/*
 * Metaboxes
 */
.post-type-campaign {
	@include clearfix;

	.postbox {
		min-width: 0;
		padding: 0 0 20px 0;
		margin: 0;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	#poststuff .inside {
		padding: 0;
	}

	.handlediv, 
	.hndle {
		display: none;
	}

	input, 
	select, 
	textarea {
	    padding: 14px 10px;
		width: 100%;	    
	}

	.charitable-metabox-title {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 6px;
	}
	
	.charitable-helper {    	
    	display: block;
    	padding-top: 6px;
    	font-style: italic;
	}

	.charitable-metabox {
		padding: 10px 10px 20px; 
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		border: 1px solid #e5e5e5;
		background-color: #fff;

		.charitable-metabox-title {
			margin-bottom: 10px;
			padding: 4px 0 10px 0; 
			border-bottom: 1px solid #e5e5e5;
		}

		label {
			display: block;
			margin-bottom: 6px;
			font-weight: bold;			
		}
	}
}

#campaign-top-sortables {
	#campaign-goal, 
	#campaign-end-date {
		float: left;
		width: 48%;
	}

	#campaign-goal {
		padding-right: 4%;
	}

	#campaign-description {
		clear: both;
	}

	@include bp(37.5em, false) {
		#campaign-goal, 
		#campaign-end-date {
			width: 100%;
			padding: 0 0 20px;
		}
	}
}

/*
 * Settings pages
 */
.charitable-table {
	td, 
	th {
		padding: 8px;
	}	
} 

.charitable-help {
    display: block;
    font-size: 13px;
    font-style: italic;
    margin-top: 4px;
} 

#charitable-settings {

	.form-table {
		th label {
			font-size: 13px;
		}
	}
}