.menu-icon-campaign .dashicons-before:before, 
.toplevel_page_charitable .dashicons-before:before,
#available-widgets [class^="charitable_campaigns_widget-"] .widget-title:before, 
#available-widgets [class*=" charitable_campaigns_widget-"] .widget-title:before {
	font-family: charitable !important;
	content: "\e601";
} 

.menu-icon-donation .dashicons-before:before {
	font-family: charitable !important;
	content: "\e600";
}