/* ==================================================
	Admin UI
================================================== */
/*  Clearfix helper class. Credit: h5bp.com/q */
/* line 5, ../compass/scss/admin-ui.scss */
.cf, .charitable-metabox-section, .charitable-metabox-section .charitable-metabox-field { *zoom: 1; }
/* line 7, ../compass/scss/admin-ui.scss */
.cf::before, .charitable-metabox-section::before, .charitable-metabox-section .charitable-metabox-field::before, .cf::after, .charitable-metabox-section::after, .charitable-metabox-section .charitable-metabox-field::after { content: ""; display: table; }
/* line 11, ../compass/scss/admin-ui.scss */
.cf::after, .charitable-metabox-section::after, .charitable-metabox-section .charitable-metabox-field::after { clear: both; }

/* Metaboxes */
/* line 21, ../compass/scss/admin-ui.scss */
.charitable-metabox-section { margin-top: 12px; border: 1px solid #e5e5e5; }
/* line 26, ../compass/scss/admin-ui.scss */
.charitable-metabox-section .charitable-metabox-section-header { margin: 0; padding: 12px 24px; background-color: #f1f1f1; }
/* line 32, ../compass/scss/admin-ui.scss */
.charitable-metabox-section .charitable-metabox-field { padding: 12px 24px; margin: 0; }
/* line 37, ../compass/scss/admin-ui.scss */
.charitable-metabox-section .charitable-metabox-field label { float: left; width: 48%; max-width: 300px; padding-right: 2%; }
/* line 46, ../compass/scss/admin-ui.scss */
.charitable-metabox-section .charitable-metabox-field input, .charitable-metabox-section .charitable-metabox-field select, .charitable-metabox-section .charitable-metabox-field textarea { float: left; }
/* line 50, ../compass/scss/admin-ui.scss */
.charitable-metabox-section .charitable-metabox-field li { width: 100%; }
/* line 57, ../compass/scss/admin-ui.scss */
.charitable-metabox-section .charitable-metabox-field.charitable-checkbox-field label, .charitable-metabox-section .charitable-metabox-field.charitable-checkbox-field input { float: none; display: inline-block; margin-top: 0; }
