.edit-php.post-type-charitable  {

   .tablenav{

        .actions{ padding-right: 0; }
        #start_date, #end_date{ width: 10.5em; }

        #post-query-submit{
            display: none;
        }

        .charitable-donations-filter, .charitable-donations-export {
            &:before{
                vertical-align: middle;
                font-size: 16px;
                width: 16px;
                height: 16px;
            }
        }

        &.top {
            margin: 0 0 12px 0;

            select.campaign_id {
                float: none;
                vertical-align: top;
            }

            .actions {

                overflow: visible;
                

                .has-popup {

                    $popup-color: #999;

                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    .popup {       
                        visibility: hidden;
                        width: 260px;
                        background-color: $popup-color;
                        color: #fff;
                        text-align: center;
                        border-radius: 6px;
                        padding: 4px;
                        position: absolute;
                        z-index: 1;
                        top: 125%;
                        left: 50%;
                        margin-left: -136px;

                        input, label, select {
                            width: 80%;
                            margin-bottom: 1em;
                        }

                        .inner{
                            background: white;
                            padding: 1em 0;
                            border-radius: 4px;
                        }

                        &::before{
                            content: "";
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: transparent transparent $popup-color transparent;
                        }

                        &.show{
                            visibility: visible !important;
                            -webkit-animation: fadeIn 1s;
                            animation: fadeIn 1s;
                        }
                    }
                
                }

            }
            
            .charitable-export-actions {
                margin-left: 8px;
            }

        }  

    }

    .wp-list-table {
        .meta {
            display: block;
            color: #999;
        }
        .column-post_status mark {
            padding: 2px 4px;
            margin: 0;
            text-align: center;
            white-space: nowrap;
            background: #999;
            color: #fff;
            border-radius: 2px;
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;            
            font-weight: bold;

            &.charitable-pending {
                background-color: #999;
            }
            &.charitable-completed {
                background-color: #008000;
            }
            &.charitable-failed {
                background-color: #f7a129;
            }
            &.charitable-cancelled {
                background-color: #ff0000;
            }
            &.charitable-refunded {
                background-color: #3fb8f5;
            }

        } 
    }

}


.charitable-donations-modal {
    max-width: 400px;
    background-color: #f1f1f1;

    .modal-close {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 10;
        cursor: pointer;

        &::before {
            content: "\f158";
            display: block !important;
            font: normal 20px/1 dashicons;
            speak: none;
            height: 22px;
            margin: 2px 0;
            text-align: center;
            width: 22px;
            color: #777;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale;
        }    
    }

    h3 {
        margin: 0.5em 0;
        font-size: 23px; 
        line-height: 29px;
        font-weight: 400;
        text-align: center;
    }

    .charitable-donations-modal-form {
        width: 80%;
        padding: 22px 10%;
        font-size: 14px;
        background-color: #fff;   

        legend, 
        label,
        input[type=text], 
        select, 
        button {
            display: block;
        }

        input[type=text] {
            width: 320px;
            max-width: 100%;
        }

        input[type=text], 
        select {
            max-width: 100%;
            margin-bottom: 22px;
        }

        input[type=text] {
            padding-top: 11px;
            padding-bottom: 11px;
        } 

        legend, 
        label, 
        #charitable-export-start-date {
            margin-bottom: 6px;
        }

        input.charitable-datepicker {
            width: 48%;
            display: inline-block;
        }
    }
}
