body.post-type-donation {
    #post-body-content,
    #titlediv, 
    .page-title-action {
        display: none;
    }

    .closed {
        .inside {
            display: block;
        }
    }
}

#donation-overview { 
    @include clearfix;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    background: transparent;

    .charitable-metabox {
        @include clearfix;
        width: 100%;
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );
        box-sizing: border-box;        
    }

    .postbox-title, 
    .hndle {
        display: none;
    }

    .inside {
        margin: 0;
        padding: 0;
    }    
}

#charitable-donation-overview-metabox {
    padding: 20px;

    #donor {
        float: left;
        padding: 0 10px 0 0;
        width: 300px;
        max-width: 67%;
    }

    .donor-name {
        font-weight: normal;
    }

    h3 {
        margin: 0 0 0.5em;
        padding: 0;
        font-size: 1.3em;
    }

    #donation-summary {
        float: right;
        padding: 0;
        max-width: 33%;
        text-align: right;
    }

    .donation-date,
    .donation-status {
        display: block;
        margin-bottom: 6px;
    }

    .donation-status .status {
        font-weight: bolder;
    }
}

#charitable-campaign-donations {
    border-spacing: 0;

    thead th {
        padding: 0.8em 0;
    }

    .col-campaign-name {
        padding-left: 20px;
        text-align: left;            
    }
    
    .col-campaign-donation-amount {
        padding-right: 20px;
        text-align: right;
    }

    tbody td {
        padding: 2em 0;
        border-top: 1px solid #e5e5e5;
    }

    tbody tr:last-child td {
        border-bottom: 1px solid #e5e5e5;
    }

    .campaign-name {
        padding-left: 20px;
        font-size: 18px;
    }

    .campaign-donation-amount {
        padding-right: 20px;
        font-size: 16px;
        text-align: right;
    }

    tfoot td, 
    tfoot th {
        padding: 0.8em 20px 0.8em 0;
        background-color: #f8f8f8;
        text-align: right;
    }
}

#donation-actions,
#donation-details, 
#donation-log {
    padding: 12px 8px;
}

#donation-details {
    dt {
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    dd {
        margin: 0 0 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #e5e5e5;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

#donation-log {
    thead th {
        background: #f8f8f8;
    }

    tbody td {
        border-bottom: 1px solid #e5e5e5;
    }    
}