#login-prompt {
	margin-bottom: 4px;
}

.charitable-login-form {
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #ebebeb;
	
	label {
		display: block;
		margin-bottom: 4px;
	}

	input, select, textarea, button {
		width: 100%;
	}

	input[type=radio], 
	input[type=checkbox] {
		width: auto;
	}

	> p,
	.login-username,
	.login-password, 
	.login-remember {	
		margin-bottom: 1em;
		padding-bottom: 0;
	}

	.login-submit {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.charitable-form-field {
	margin-bottom: 1em;

	label {
		display: block;
		margin-bottom: 4px;
	}

	input, 
	select, 
	textarea, 
	button {
		width: 100%;
	}

	input[type=radio], 
	input[type=checkbox] {
		width: auto;
	}

	&.charitable-form-field-checkbox {
		label {
			display: inline;
			padding-left: 4px;
		}
	}
}

.charitable-fieldset {	
	margin: 0 0 1em;
	padding: 2em;
	border: 1px solid #ebebeb;

	.legend {
		margin: 0 0 1em;
	    font-size: 1.2em;	    
	    color: #f89d35;
	    font-weight: bolder;
	}
}

.charitable-repeatable-form-field-table {
	margin-bottom: 1em;
}

.donation-amounts {
	@include clearfix;
	margin: 0 0 1em;
	padding: 0;
	list-style: none;

	.donation-amount {
		float: left;
		width: 49%;
		margin: 0 2% 0.5em 0;
		padding: 0.5em 1em;
		border: 1px solid #ddd;
		background-color: #ebebeb;		
		cursor: pointer;

		&:nth-child( 2n+2 ) {
			margin-right: 0;
		}
	}

	.donation-amount.selected {
		background-color: #fff;
	}
}

#charitable-donation-form {
	padding-top: 1em;
}

.charitable-hidden {
	@include hidden();
}

.charitable-user-details {
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #ddd;

    .donor-address, 
    .donor-contact-details {
    	margin-bottom: 4px;
    }

    .charitable-login-details {
    	padding-top: 1em;
    }
}

.charitable-change-user-details {
	margin-bottom: 0;
	padding-bottom: 0;
}

#charitable-user-fields {
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px solid #ddd;
}