.charitable-notice {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid;

    > ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            list-style: none;
        }        
    }

    &.notice-error {

    }

    &.notice-warning {

    }

    &.notice-info {
        border-left-color: #f89d35; 
        background-color: #fef4e8;
    }

    &.updated {

    }

}