.donation-summary {
	dt {
		float: left;
		margin-right: .5em;
		font-weight: bold;
	}

	dd {
		display: block;
		margin-bottom: 0;
	}

	dd::after {
		content: " ";
		display: block;
		clear: left;
	}
}

.charitable-table {
    tr, td {
        padding-right: 1.5em;
    }
}