#login-prompt {
	margin-bottom: 4px;
}

.charitable-login-form {
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #ebebeb;
	
	label {
		display: block;
		margin-bottom: 4px;
	}

	input, select, textarea, button {
		width: 100%;
	}

	input[type=radio], 
	input[type=checkbox] {
		width: auto;
	}

	> p,
	.login-username,
	.login-password, 
	.login-remember {	
		margin-bottom: 1em;
		padding-bottom: 0;
	}

	.login-submit {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.charitable-form-field {
	margin-bottom: 1em;

	label {
		display: block;
		margin-bottom: 4px;
	}

	input, 
	select, 
	textarea, 
	button {
		width: 100%;
	}

	input[type=radio], 
	input[type=checkbox] {
		width: auto;
	}

	&.charitable-form-field-checkbox {
		label {
			display: inline-block;
		}
	}
}

.charitable-repeatable-form-field-table {
	margin-bottom: 1em;
}

.donation-amounts {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;

	.donation-amount {
		display: inline-block;
		margin: 0 2px 4px 0;
		padding: 1em;
		border: 1px solid #ddd;
		background-color: #ebebeb;		
		cursor: pointer;
	}

	.donation-amount.selected {
		background-color: #fff;
	}
}

#charitable-donation-form {
	padding-top: 1em;
}

.charitable-hidden {
	@include hidden();
}

.charitable-user-details {
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #ddd;

    .donor-address, 
    .donor-contact-details {
    	margin-bottom: 4px;
    }

    .charitable-login-details {
    	padding-top: 1em;
    }
}

.charitable-change-user-details {
	margin-bottom: 0;
	padding-bottom: 0;
}

#charitable-user-fields {
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px solid #ddd;
}