@font-face {
	font-family: 'charitable';
	src:url('../fonts/charitable.eot?o8h719');
	src:url('../fonts/charitable.eot?#iefixo8h719') format('embedded-opentype'),
		url('../fonts/charitable.ttf?o8h719') format('truetype'),
		url('../fonts/charitable.woff?o8h719') format('woff'),
		url('../fonts/charitable.svg?o8h719#charitable') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {	
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-donations:before {	
	content: "\e600";
	font-family: 'charitable';
}
.icon-charitable:before {	
	content: "\e601";
	font-family: 'charitable';
}
.icon-campaign-creator:before {	
	content: "\e602";
	font-family: 'charitable';
}
.icon-donations-grab:before {	
	content: "\e603";
	font-family: 'charitable';
}
